.bghead {
    color: #FFE7CA;
      background-color: #480026 ;
  }

  .hover-fil:hover {
    background-color: #FFE7CA;
    }

    .e {
        background-color: #FCC2A8;
        margin: 5px;
        
        
    }

h1{
    font-size: 280%;
    color: #480026;
    text-align: center;
    font-weight: bold;
    
}

h2{
    font-size: 180%;
    color: #383bb7;
    text-align: center;
    font-weight: bold;
}

h3{
    font-size: 150%;
    color: #383bb7;
    text-align: center;
    font-weight: bolder;
    
}

p {
    text-align: justify;
    font-size: 15px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
      
}

.image {
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
     ;
}


.menu {
    list-style-type: none;
    text-align: center;
    font-style: italic;
    font-size: 17px;
    }

.menu li {
    display: inline-block;
    padding: 3px;
    margin: 1px;
    border-style:double;
      
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #480026;
    text-align: center;
    
}

.btn-1 {
    width: 150px;
    height: 28px;
    border: hsl(hue, saturation, lightness);
    background-color: #FFE7CA;
    color: #480026;     
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 2%;
    margin-inline: 22px;
}

.btn-1:hover {
    background-color: #480026;
    color: #FFE7CA;
}

.input {
    border: hsl(hue, saturation, lightness)
    height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.input:focus {
    outline: none;
    box-shadow: 4px 3px 2px 1px #480026;
    }

    .textArea {
    height: 70px;
}

legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
    font-style: italic;
    color: #480026;
}
label{
    color: #383bb7;
}
.header{
    background:#F8C8C6;
    padding: 1%;
    border: 1px solid #383bb7;
}
.aside{
    background: #f5d9d8;
    padding: 1%;
    border: 1px solid #383bb7;
}
.footer{
    padding: 3%;
    background:#F8C8C6;
    border: 1px solid;
}
.col1{
    background: #FFE7CA;
    mt: 2;
    mb: 2;
    mr: 2;
    ml: 2;

}
.col2{
    background: #f5d9d8;
    padding: 5%;
    mt: 2;
    mb: 2;
    mr: 2;
    ml: 2;
}

    



